@font-face {
	src: url(/static/3270-Regular.woff);
	font-family: ibm;
}

@font-face {
	src: url(/static/FantasqueSansMono-Regular.woff);
	font-family: fantasque;
}
/* Change these color properties to set your own palette for the page;
Either use keyworded colors (see https://www.w3schools.com/cssref/css_colors.asp)
Or use a notation (such as RGB, hex, or HSL) */
:root {
	--colorBackground: oldlace; /*Main Page Background*/
	--colorDivBorder: tan; /*<div> Border*/
	--colorDialogBorder: goldenrod; /*Dialog Box Border*/
	--colorDialogShadow: sienna; /*Dialog Box Shadow*/
	--colorInputBorder: sandybrown; /*Input Field Border*/
	--colorInputBGActive: peachpuff; /*Input Field Active Background*/
	--colorButtonShadow: saddlebrown; /*Button Lower Shadow*/
	--colorTableHeadBorder: tan; /*Table Header Row Border*/
	--colorTableDataBorder: tan; /*Table Data Row Border*/
}

body {
	background-color: var(--colorBackground);
	font-family: fantasque;
}

div {
	border: 4px outset var(--colorDivBorder);
	border-radius: 4px;
	margin: 8px;
}

.minorGroup {
	border-style: inset;
	padding: 4px;
}

.itemIconSelector {
	background-color: var(--colorBackground);
	display: grid;
	grid-template-columns: auto auto auto auto;
}

.brython-dialog-main {
	background-color: var(--colorBackground);
	border-color: var(--colorDialogBorder);
	box-shadow: 0px 4px 8px 4px var(--colorDialogShadow);
}

.brython-dialog-title {
	text-align: center;
	padding: 8px;
}

.brython-dialog-close {
	float: right;
	padding: 0px 4px 0px 4px;
	border: 2px outset var(--colorDialogBorder);
}

table.minorGroup {
	border-style: hidden;
}

table {
	width: 100%;
}

th {
	border-style: hidden dotted dotted dotted;
	border-width: 4px;
	border-color: var(--colorTableHeadBorder);
}

td {
	padding-left: 4px;
	border-style: hidden dotted dotted dotted;
	border-width: 0px 2px 1px 2px;
	border-color: var(--colorTableDataBorder);
}

td.tdWithInput {
	text-align: center;
}

td.skillName {
	width: 35%;
}

td.featureName {
	width: 25%;
}

td.featureDesc {
	width: 35%;
}

td.itemName {
	width: 11%;
}

td.itemDesc {
	width: 30%;
}

input, .brython-dialog-button {
	width: 100px;
	font-family: ibm;
	font-size: 14pt;
	font-weight: bold;
}

input[type = "button"], input[type = "checkbox"], input[type = "radio"], .brython-dialog-button {
	width: auto;
}

#totalWorth {
	width: 160px;
	text-align: right;
}

input[type = "button"], input:not([type]), input[type = "number"], .brython-dialog-button, button {
	background-color: var(--colorInputBGActive);
	border: 2px inset var(--colorInputBorder);
	border-radius: 2px;
	margin: 2px;
	text-align: center;
}

input[type = "number"][readonly], input:not([type])[readonly], input[type = "button"][disabled] {
	background-color: var(--colorBackground);
}

input:not([type]), input[type = "number"] {
	padding: 8px 0px 4px 0px;
}

.tdWithInput>input:not([class]) {
	width: 60px;
}

.itemNumericCell {
	width: 80px;
}

input[type = "button"], .brython-dialog-button, button {
	border: 4px outset var(--colorInputBorder);
	border-radius: 2px;
	box-shadow: 0px 4px var(--colorButtonShadow);
	text-align: initial;
	position: relative;
}

input[type = "button"]:not(.skillButton):not(.featureButton):not(.itemButton) {
	bottom: 4px;
}

button {
	font-size: 16pt;
	width: auto;
}

.selectIcon {
	margin-bottom: 4px;
}

.itemIcon::before {
	content: "\01F532";
}

.brython-dialog-button {
	bottom: 4px;
	margin-top: 8px;
}

.skillButton, .featureButton, .itemButton {
	bottom: 2px;
}

input[type = "button"]:active:not([disabled]), .brython-dialog-button:active, button:active {
	border-style: inset;
	transform: translateY(4px);
	box-shadow: 0px 0px;
}

input.dialogName, #classList, #class.bio {
	width: 240px;
}

input#description, #name.bio, #race.bio {
	width: 360px;
}

.bio {
	background-color: var(--colorInputBGActive);
	width: auto;
}

#save {
	width: 80px;
	grid-column-start: 2;
	bottom: 0px;
}

.ability, .abilityBonus {
	background-color: var(--colorInputBGActive);
	height: 36pt;
	width: 60px;
}

.hit, #characterLevel {
	height: 48pt;
	width: 120px;
}

#currentExperience, #nextExperience {
	text-align: right;
	width: 120px;
}

#currentExperience {
	position: relative;
	left: 33px;
}

.classLevelDiv, .hitDiceDiv, #successes, #failures {
	width: 50%;
	text-align: center;
}

#currencyTotal {
	height: 36pt;
	width: 180px;
	font-size:16pt;
	text-align: right;
}

.currency {
	background-color: var(--colorInputBGActive);
	width: 80px;
}
/*
#gold {
	position: relative;
	left: 8px;
}
*/
#border {
	display: grid;
	width: 95%;
	margin: auto;
	padding: 4px;
	grid-template-columns: 25% 15% 60% 0%;
}

#controls {
	text-align: center;
	grid-row-start: 1;
	grid-column-start: 2;
}

.abilityDiv {
	text-align: center;
	margin: 4px auto 4px auto;
	width: 66%;
}

#hit {
	grid-row: 2 / span 2;
	grid-column-start: 1;
}

#hitDice, #deathSaves, #classLevels, #skillsDiv, #featuresDiv, #itemsDiv, #spellsDiv{
	padding: 4px;
}

#experience {
	grid-row-start: 2;
	grid-column-start: 2;
}

#armorDiv {
	text-align: center;
	grid-row: 3 / span 3;
	grid-column-start: 2;
}

#armorOptions {
	text-align: left;
}

#currency {
	text-align: center;
	grid-row-start: 4;
	grid-column-start: 1;
}

/*
#biographyCosmetic {
	display: grid;
}

#gender, #size {
	grid-column-start: 2;
}

#eyeColor, #height {
	grid-column-start: 4;
}

#hairColor, #weight {
	grid-column-start: 6;
}

#wheightEdit {
	grid-column-start: 7;
}
*/

@media only screen and (min-width: 1440px) {
	#biography {
		grid-row-start: 2;
		grid-column: 1 / span 4;
	}

	.cosmetic {
		display: inline-block;
		width: 100px;
		text-align: right;
	}

	#abilities {
		grid-row-start: 3;
		grid-column: 1 / span 2;
	}

	#statistics {
		grid-row: 3 / span 2;
		grid-column: 3 / span 2;
		display: grid;
	}

	#skillsDiv {
		grid-row: 4 / span 3;
		grid-column: 1  / span 2;
	}

	#featuresDiv {
		grid-row: 5 / span 4;
		grid-column: 3 / span 2;
	}

	#itemsDiv {
		grid-row-start: 9;
		grid-column: 1 / span 4;
	}

	#spellsDiv {
		grid-row-start: 10;
		grid-column: 1 / span 4;
	}
}

@media only screen and (max-width: 1439px) {
	#biography {
		grid-row-start: 2;
		grid-column: 1 / span 4;
	}

	#biographyKey>label, #biographyCosmetic>label, #currency>label {
		display: block;
	}

	#abilities {
		grid-row-start: 3;
		grid-column: 1 / span 4;
	}

	#statistics {
		grid-row-start: 4;
		grid-column: 1 / span 4;
		display: grid;
	}

	#currency {
		grid-row-end: span 3;
	}

	#skillsDiv {
		grid-row-start 5;
		grid-column: 1  / span 4;
	}

	#featuresDiv {
		grid-row-start: 6;
		grid-column: 1 / span 4;
	}

	#itemsDiv {
		grid-row-start: 7;
		grid-column: 1 / span 4;
	}

	#spellsDiv {
		grid-row-start: 8;
		grid-column: 1 / span 4;
	}
}
