@font-face {
	src: url(/static/3270-Regular.woff);
	font-family: ibm;
}

@font-face {
	src: url(/static/FantasqueSansMono-Regular.woff);
	font-family: fantasque;
}

body {
	background-color: linen;
	font-family: fantasque;
}

div {
	border: 4px outset tan;
	border-radius: 4px;
	margin: 8px;
}

.minorGroup {
	border-style: inset;
	padding: 4px;
}

.brython-dialog-main {
	background-color: linen;
	border-color: goldenrod;
	box-shadow: 0px 4px 8px 4px sienna;
}

.brython-dialog-title {
	text-align: center;
	padding: 8px;
}

.brython-dialog-close {
	float: right;
	padding: 0px 4px 0px 4px;
	border: 2px outset goldenrod;
}

table.minorGroup {
	border-style: hidden;
}

table {
	width: 100%;
}

th {
	border-style: hidden dotted dotted dotted;
	border-width: 4px;
	border-color: tan;
}

td {
	padding-left: 4px;
	border-style: hidden dotted dotted dotted;
	border-width: 0px 2px 1px 2px;
	border-color: tan;
}

td.tdWithInput {
	text-align: center;
}

td.skillName {
	width: 35%;
}

td.featureName {
	width: 25%;
}

td.featureDesc {
	width: 35%;
}

td.itemName {
	width: 12%;
}

td.itemDesc {
	width: 30%;
}

input {
	width: 100px;
	font-family: ibm;
	font-size: 14pt;
	font-weight: bold;
}

input[type = "button"], input[type = "checkbox"], input[type = "radio"]{
	width: auto;
}

input[type = "button"], input:not([type]), input[type = "number"], .brython-dialog-button {
	background-color: peachpuff;
	border: 2px inset sandybrown;
	border-radius: 2px;
	margin: 2px;
	text-align: center;
}

input[type = "number"][readonly], input:not([type])[readonly] {
	background-color: linen;
}

input:not([type]), input[type = "number"] {
	padding: 8px 0px 4px 0px;
}

input[type = "button"], .brython-dialog-button {
	border: 4px outset sandybrown;
	border-radius: 2px;
	box-shadow: 0px 4px saddlebrown;
	text-align: initial;
	position: relative;
}

input[type = "button"]:not(.skillButton):not(.featureButton):not(.itemButton) {
	bottom: 4px;
}

.brython-dialog-button {
	bottom: 4px;
	margin-top: 8px;
}

.skillButton, .featureButton, .itemButton {
	bottom: 2px;
}

input[type = "button"]:active:not([disabled]), .brython-dialog-button:active {
	border-style: inset;
	transform: translateY(4px);
	box-shadow: 0px 0px;
}

input.dialogName, #classList {
	width:240px;
}

input#description {
	width: 360px;
}

.bio {
	background-color: peachpuff;
	width: auto;
}

#save {
	width: 80px;
	grid-column-start: 2;
	bottom: 0px;
}

.ability, .abilityBonus {
	background-color: peachpuff;
	height: 36pt;
	width: 60px;
}

.hit, #characterLevel {
	height: 48pt;
	width: 120px;
}

#currentExperience, #nextExperience {
	text-align: right;
	width: 120px;
}

#currentExperience {
	position: relative;
	left: 33px;
}

.classLevelDiv, .hitDiceDiv, #successes, #failures {
	width: 50%;
	text-align: center;
}

#currencyTotal {
	height: 36pt;
	width: 180px;
	font-size:16pt;
	text-align: right;
}

.currency {
	background-color: peachpuff;
	width: 80px;
}

#gold {
	position: relative;
	left: 8px;
}

#border {
	display: grid;
	width: 95%;
	margin: auto;
	padding: 4px;
	grid-template-columns: 25% 15% 60% 0%;
}

#controls {
	text-align: center;
	grid-row-start: 1;
	grid-column-start: 2;
}

#biography {
	grid-row-start: 2;
	grid-column: 1 / span 4;
}

#abilities {
	grid-row-start: 3;
	grid-column: 1 / span 2;
}

.abilityDiv {
	text-align: center;
	margin: 4px auto 4px auto;
	width: 66%;
}

#statistics {
	grid-row: 3 / span 2;
	grid-column: 3 / span 2;
	display: grid;
}

#hit {
	grid-row: 2 / span 2;
	grid-column-start: 1;
}

#hitDice, #deathSaves, #classLevels, #skillsDiv, #featuresDiv, #itemsDiv, #spellsDiv{
	padding: 4px;
}

#experience {
	grid-row-start: 2;
	grid-column-start: 2;
}

#armorDiv {
	grid-row: 4 / span 2;
	grid-column-start: 1;
}

#currency {
	text-align: center;
	grid-row: 3 / span 2;
	grid-column-start: 2;
}

#skillsDiv {
	grid-row: 4 / span 2;
	grid-column: 1  / span 2;
}

#featuresDiv {
	grid-row: 5 / span 2;
	grid-column: 3 / span 2;
}

#itemsDiv {
	grid-row-start: 7;
	grid-column: 1 / span 4;
}

#spellsDiv {
	grid-row-start: 8;
	grid-column: 1 / span 4;
}
