<html>
	<title>FoF: {{sheetName}}</title>
	<head>
		<script src = {{url_for("static", filename = "brython/brython.js")}}></script>
		<script src = {{url_for("static", filename = "brython/brython_stdlib.js")}}></script>
		<link rel = "stylesheet" href = {{url_for("static", filename = "sheetDefault.css")}}>
		<link rel = "stylesheet" href = {{url_for("static", filename = "sheetItemIcons.css")}}>
		<meta charset = "UTF-8">
		<meta id = "sheetName" content = "{{sheetName}}">
		<meta id = "foo" content = "bar">
		<p id = "user" hidden>{{username}}</p>
	</head>
	<body onload = "brython()">
		<script type = "text/python" src = {{url_for("static", filename = "sheet.py")}}></script>

		<div id = "border">
			<h1>{{sheetName}}</h1>
			<div id = "controls" class = "majorGroup">
				<label for = "save">Save Sheet</label>
				<input type = "button" id = "save" value = "Save">
			</div>

			<div id = "biography" class = "majorGroup">
				<h2>Biography</h2>

				<label for = "biographyEdit">Edit Biography</label>
				<input id = "biographyEdit" type = "checkbox">

				<div id = "biographyKey" class = "minorGroup">
					<h3>Key Information</h3>

					<label for = "name">Name</label>
					<input id = "name" class = "bio" readonly>
					<label for = "race">Race</label>
					<input id = "race" class = "bio" readonly>

					<label for = "class">Class</label>
					<input id = "class" class = "bio" readonly>
					<input id = "classEdit" class = "bio" type = "button" value = "Edit Class(es)" disabled>
					<label for = "alignment">Alignment</label>
					<input id = "alignment" class = "bio" readonly>
				</div>

				<div id = "biographyCosmetic" class = "minorGroup">
					<h3>Cosmetic Information</h3>

					<label for = "gender" class = "cosmetic">Gender</label>
					<input id = "gender" class = "bio" readonly>
					<label for = "eyeColor" class = "cosmetic">Eye Color</label>
					<input id = "eyeColor" class = "bio" readonly>
					<label for = "hairColor" class = "cosmetic">Hair Color</label>
					<input id = "hairColor" class = "bio" readonly> <br>

					<label for = "size" class = "cosmetic">Size</label>
					<input id = "size" class = "bio" readonly>
					<label for = "height" class = "cosmetic">Height</label>
					<input id = "height" class = "bio" readonly>
					<label for = "weight" class = "cosmetic">Weight</label>
					<input id = "weight" class = "bio" readonly>
					<input id = "wheightEdit" class = "bio" type = "button" value = "Edit Height/Weight" disabled>
				</div>
			</div>

			<div id = "abilities" class = "majorGroup">
				<h2>Ability Scores</h2>
				<label for = "abilitiesEdit">Edit Ability Scores</label>
				<input id = "abilitiesEdit" type = "checkbox">
				{% for ability in abilities %}
				<div class = "abilityDiv">
					<label for = "{{ability}}"><h3>{{ability|capitalize}}</h3></label>
					<input id = "{{ability}}`Decrement" class = "abilityButton" type = "button" value = "-" disabled>
					<input id = "{{ability}}" class = "ability" readonly> <!--type = "number" min = 1 max = 30-->
					<input id = "{{ability}}`Increment" class = "abilityButton" type = "button" value = "+" disabled>
					<label for = "{{ability}}Bonus">Bonus</label>
					<input id = "{{ability}}Bonus" class = "abilityBonus" readonly>
					<input id = "{{ability}}`Set" class = "abilityButton" type = "button" value = "Set" disabled>
				</div>

				{% endfor %}
			</div>

			<div id = "statistics" class = "majorGroup">
				<h2>Statistics</h2>
				<div id = "hit" class = "minorGroup">
					<h3>Hit Points</h3>
					<label for = "hitEdit">Edit Hit Points</label>
					<input id = "hitEdit" type = "checkbox"> <br>
					<label for = "currentHit">Current Hit Points</label>
					<!--<input id = "currentHit`Decrement" class = "hitButton" type = "button" value = "-" disabled>-->
					<input id = "currentHit`Value" class = "hit" type = "number" readonly>
					<!--<input id = "currentHit`Increment" class = "hitButton" type = "button" value = "+" disabled>-->
					<input id = "currentHit`Set" class = "hitButton" type = "button" value = "Set" disabled> <br>

					<label for = "maxHit">Maximum Hit Points</label>
					<input id = "maxHit" class = "hit" readonly>
					<input id = "maxHit`Set" class = "hitButton" type = "button" value = "Set" disabled>

					<div id = "hitDice">
						<h4>Hit Dice</h4>
					</div>

					<div id = "deathSaves">
						<h4>Death Saves</h4>
						<label for = "successes">Successes</label>
						<div id = "successes">
							{% for count in range(1, 4) %}
							<input id = "success`{{count}}" class = "deathSaveCheckbox" type = "checkbox" disabled>
							{% endfor %}
						</div>

						<label for = "failures">Failures</label>
						<div id = "failures">
							{% for count in range(1, 4) %}
							<input id = "failure`{{count}}" class = "deathSaveCheckbox" type = "checkbox" disabled>
							{% endfor %}
						</div>
					</div>
				</div>

				<div id = "experience" class = "minorGroup">
					<h3>Experience</h3>	
					<input id = "experience`Add" type = "button" value = "Add">
					<input id = "experience`Edit", type = "button" value = "Edit"> <br>
					<label for = "currentExperience">Experience Points</label>
					<input id = "currentExperience" class = "experience" readonly> <br>
					
					<label for = "nextExperience">Needed for Next Level</label>
					<input id = "nextExperience" class = "experience" readonly>

					<label for = "characterLevel"><h4>Character Level</h4></label>
					<input id = "characterLevel" class = "experience" readonly>
					<input id = "characterLevelSet" type = "button" value = "Set Character Level">
					
					<div id = "classLevels">
						<h4>Class Level(s)</h4>
						<input id = "classLevelsEdit" type = "button" value = "Edit Class Levels">
					</div>
				</div>

				<div id = "armorDiv" class = "minorGroup">
					<label for = "armorClass"><h3>Armor Class</h3></label>
					<input id = "armorClass`Value" class = "ac" type = "number" readonly>
					<label for = "armorClass`Edit">Edit Base AC</label>
					<input id = "armorClass`Edit" type = "checkbox">
					<label for = "armorClass`ShowBase">Show Base AC</label>
					<input id = "armorClass`ShowBase" type = "checkbox">
					<div id = "armorOptions">
						<h3>Armor Type</h3>
						<input type = "radio" name = "armor" id = "light`Type" value = "light`Type">
						<label for = "light`Type">Light (= Base + DEX)</label> <br>
						<input type = "radio" name = "armor" id = "medium`Type" value = "medium`Type">
						<label for = "medium`Type">Medium (= Base + MIN(DEX, 2))</label> <br>
						<input type = "radio" name = "armor" id = "heavy`Type" value = "heavy`Type">
						<label for = "heavy`Type">Heavy (= Base)</label> <br>
						<input type = "radio" name = "armor" id = "unarmored`Type" value = "unarmored`Type">
						<label for = "unarmored`Type">Unarmored (Regular, = Base + DEX)</label> <br>
						<input type = "radio" name = "armor" id = "unarmoredB`Type" value = "unarmoredB`Type">
						<label for = "unarmoredB`Type">Unarmored (Barbarian, = Base + DEX + CON)</label> <br>
						<input type = "radio" name = "armor" id = "unarmoredM`Type" value = "unarmoredM`Type"> 
						<label for = "unarmoredM`Type">Unarmored (Monk, = Base + DEX + WIS)</label> <br>
						<!--
						<input type = "radio" name = "armor" id = "mage`Type" value = "mage`Type">
						<label for = "mage`Type">Mage</label>
						-->
					</div>
				</div>

				<div id = "currency" class = "minorGroup">
					<h3>Currency ({{"\u20B2"}})</h3>
					<label for = "currencyTotal">Total</label>
					<input id = "currencyTotal" readonly>
					<label for = "currencyEdit">Edit Currency</label>
					<input id = "currencyEdit" type = "checkbox"> <br>
					{% for coin in coins %}
					<label for = "{{coin}}">{{coin|capitalize}}</label>
					<!--<input id = "{{coin}}`Set" class = "currencyButton" type = "button" value = "Set" disabled>-->
					<!--<input id = "{{coin}}`Decrement" class = "currencyButton" type = "button" value = "-" disabled> -->
					{% if coin == "gold" %}
					<input id = "{{coin}}" class = "currency" type = "number" min = "0" readonly>
					{% else %}
					<input id = "{{coin}}" class = "currency" type = "number" min = "0" max = "10" readonly>
					{% endif %}
					<!--<br>-->
					<!--<input id = "{{coin}}`Increment" class = "currencyButton" type = "button" value = "+" disabled> -->
					{% endfor %}
					<!--<input id = "currencySet" class = "currencyButton" type = "button" value = "Set All" disabled>-->
				</div>
			</div>
			<div id = "skillsDiv" class = "majorGroup">
				<h2>Proficiency & Skills</h2>
				<label for = "proficiency"><h3>Proficiency Bonus</h3></label>
				<input id = "proficiency" readonly>
				<br>

				<h3>Skills</h3>
				<input id = "Create Skill``New" class = "skillButton" type = "button" value = "Create Skill">
				<table id = "skillsTable" class = "minorGroup">
					<thead>
						<tr>
							<th>Name</th>
							<th>Ability</th>
							<th>Value</th>
							<th>Settings</th>
						</tr>
					</thead>
					<tbody id = "skills">
					</tbody>
				</table>
			</div>
			<div id = "featuresDiv" class = "majorGroup">
				<h2>Features</h2>
				<input id = "Create Feature``New" class = "featureButton" type = "button" value = "Create Feature">
				<label for = "featuresEdit">Edit Feature Values</label>
				<input id = "featuresEdit" type = "checkbox">
				<table id = "featuresTable" class = "minorGroup">
					<thead>
						<tr>
							<th>Name</th>
							<th>Description</th>
							<th>Value (Optional)</th>
							<th>Settings</th>
						</tr>
					</thead>
					<tbody id = "features">
					</tbody>
				</table>
			</div>
			<div id = "itemsDiv" class = "majorGroup">
				<h2>Inventory</h2>
				<input id = "Create Item``New" class = "itemButton" type = "button" value = "Create Item">
				<label for = "totalWeight">Total Inventory Weight</label>
				<input id = "totalWeight" readonly = ''>
				<label for = "totalWorth">Total Inventory Worth</label>
				<input id = "totalWorth" readonly = ''>
				<label for = "itemsEdit">Edit Item Counts & Weights</label>
				<input id = "itemsEdit" type = "checkbox">
				<table id = "itemsTable" class = "minorGroup">
					<thead>
						<tr>
							<th>Icon</th>
							<th>Name</th>
							<th>Description</th>
							<th>Count</th>
							<th>Weight</th>
							<th>Value</th>
							<th colspan = 2>Weapon Info (optional)</th>
							<th>Settings</th>
						</tr>
						<tr>
							<th colspan = 6></th>
							<th>Kind</th>
							<th>Damage</th>
							<th></th>
						</tr>
					</thead>
					<tbody id = "items">
					</tbody>
				</table>
			</div>
			<div id = "spellsDiv" class = "majorGroup">
				<h2>Spells<h2>
				<input id = "Create Spell List``NewList" class = "spellButton" type = "button" value = "Create Spell List">
				<div id = "spellTablesDiv" class = "minorGroup">
				</div>
			</div>
		</div>
	</body>
</html>
