<html>
	<title>FoF: {{sheetName}}</title>
	<head>
		<script src = {{url_for("static", filename = "brython/brython.js")}}></script>
		<script src = {{url_for("static", filename = "brython/brython_stdlib.js")}}></script>
		<meta charset = "utf-8">
		<meta id = "sheetName" content = "{{sheetName}}">
		<meta id = "foo" content = "bar">
		<p id = "user" hidden>{{username}}</p>
	</head>
	<body onload = "brython()">
		<script type = "text/python" src = {{url_for("static", filename = "sheet.py")}}></script>

		<div id = "border">
			<label for = "save">Save Sheet</label>
			<input type = "button" id = "save" value = "Save">

			<div class = "majorGroup" id = "biography">
				<h2>Biography</h2>

				<label for = "biographyEdit">Edit Biography</label>
				<input id = "biographyEdit" type = "checkbox">

				<div id = "biographyKey" class = "minorGroup">
					<h3>Key Information</h3>

					<label for = "name">Name</label>
					<input id = "name" class = "bio" readonly>
					<label for = "race">Race</label>
					<input id = "race" class = "bio" readonly>

					<label for = "class">Class</label>
					<input id = "class" class = "bio" readonly>
					<label for = "alignment">Alignment</label>
					<input id = "alignment" class = "bio" readonly>
				</div>

				<div id = "biographyCosmetic" class = "minorGroup">
					<h3>Cosmetic Information</h3>

					<label for = "gender">Gender</label>
					<input id = "gender" class = "bio" readonly>
					<label for = "eyeColor">Eye Color</label>
					<input id = "eyeColor" class = "bio" readonly>
					<label for = "hairColor">Hair Color</label>
					<input id = "hairColor" class = "bio" readonly>

					<label for = "size">Size</label>
					<input id = "size" class = "bio" readonly>
					<label for = "height">Height</label>
					<input id = "height" class = "bio" readonly>
					<label for = "weight">Weight</label>
					<input id = "weight" class = "bio" readonly>
				</div>
			</div>


		</div>
	</body>
</html>
