<html>
	<title>FoF: {{sheetName}}</title>
	<head>
		<script src = {{url_for("static", filename = "brython/brython.js")}}></script>
		<script src = {{url_for("static", filename = "brython/brython_stdlib.js")}}></script>
		<meta charset = "utf-8">
		<meta id = "sheetName" content = "{{sheetName}}">
		<meta id = "foo" content = "bar">
		<p id = "user" hidden>{{username}}</p>
	</head>
	<body onload = "brython()">
		<script type = "text/python" src = {{url_for("static", filename = "sheet.py")}}></script>

		<div id = "border">
			<label for = "save">Save Sheet</label>
			<input type = "button" id = "save" value = "Save">

			<div id = "biography" class = "majorGroup">
				<h2>Biography</h2>

				<label for = "biographyEdit">Edit Biography</label>
				<input id = "biographyEdit" type = "checkbox">

				<div id = "biographyKey" class = "minorGroup">
					<h3>Key Information</h3>

					<label for = "name">Name</label>
					<input id = "name" class = "bio" readonly>
					<label for = "race">Race</label>
					<input id = "race" class = "bio" readonly>

					<label for = "class">Class</label>
					<input id = "class" class = "bio" readonly>
					<label for = "alignment">Alignment</label>
					<input id = "alignment" class = "bio" readonly>
				</div>

				<div id = "biographyCosmetic" class = "minorGroup">
					<h3>Cosmetic Information</h3>

					<label for = "gender">Gender</label>
					<input id = "gender" class = "bio" readonly>
					<label for = "eyeColor">Eye Color</label>
					<input id = "eyeColor" class = "bio" readonly>
					<label for = "hairColor">Hair Color</label>
					<input id = "hairColor" class = "bio" readonly>

					<label for = "size">Size</label>
					<input id = "size" class = "bio" readonly>
					<label for = "height">Height</label>
					<input id = "height" class = "bio" readonly>
					<label for = "weight">Weight</label>
					<input id = "weight" class = "bio" readonly>
				</div>
			</div>

			<div id = "abilities" class = "majorGroup">
				<h2>Ability Scores</h2>
				{% for ability in abilities %}
				<div class = "minorGroup">
					<label for = "{{ability}}"><h3>{{ability|capitalize}}</h3></label>
					<input id = "{{ability}}" class = "ability" readonly>
					<label for = "{{ability}}Bonus">Bonus</label>
					<input id = "{{ability}}Bonus" class = "abilityBonus" readonly>
				</div>

				{% endfor %}
			</div>

			<div id = "statistics" class = "majorGroup">
				<h2>Statistics</h2>
				<div class = "minorGroup">
					<h3>Hit Points</h3>
					<label for = "currentHit">Current Hit Points</label>
					<input id = "currentHit" class = "hit" readonly>

					<label for = "maxHit">Maximum Hit Points</label>
					<input id = "maxHit" class = "hit" readonly>

					<div id = "hitDice">
						<h4>Hit Dice</h4>
					</div>

					<div id = "deathSaves">
						<h4>Death Saves</h4>
						<label for = "successes">Successes</label>
						<div id = "successes">
							{% for count in range(1, 4) %}
							<input id = "success{{count}}" type = "checkbox">
							{% endfor %}
						</div>

						<label for = "failures">Failures</label>
						<div id = "failures">
							{% for count in range(1, 4) %}
							<input id = "failure{{count}}" type = "checkbox">
							{% endfor %}
						</div>
					</div>
				</div>

				<div class = "minorGroup">
					<h3>Experience</h3>
					<label for = "characterLevel"><h4>Character Level</h4></label>
					<input id = "characterLevel" class = "experience" readonly>

					<div id = "classLevels">
						<h4>Class Level(s)</h4>
					</div>

					<label for = "currentExperience">Experience Points</label>
					<input id = "currentExperience" class = "experience" readonly>
					
					<label for = "nextExperience">Needed for Next Level</label>
					<input id = "nextExperience" class = "experience" readonly>
				</div>

				<div class = "minorGroup">
					<label for = "armorClass"><h3>Armor Class</h3></label>
					<input id = "armorClass" readonly>
				</div>

				<div class = "minorGroup">
					<h3>Currency</h3>
					{% for coin in coins %}
					<label for = "{{coin}}">{{coin|capitalize}}</label>
					<input id = "{{coin}}" class = "currency" readonly>

					{% endfor %}
				</div>
			</div>
		</div>
	</body>
</html>
